.containerpopup {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	zoom: 1;
}
.container-fluidpopup {
	position: relative;
	min-width: 340px;
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
}
.sig {
	margin-top: 15px;
}

.span6 {
	width: 340px;
}

h2.grey {
	font-size: 24px;
	color: #BFBFBF;
	padding: 0;
	margin: 30px 0 0 0;
}

h3 {
	margin: 18px 0 0 0;
	font-weight:bolder;
	
}

h5 {
	line-height: 19px;
	font-weight: 500;
	color: #494949;
	font-size:14px;
}

p {
	margin-left: auto;
}

.label, .badge {
	text-shadow:none;
}

<<<<<<< HEAD
.favorite {
	color: red;
=======
a {
  color:#8c1201;
>>>>>>> 25a5a5124f91f9524cee04106a4e22032d33316c
}